@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.responsibilities-list {
  margin: 20px 0;
}

.responsibility-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.responsibility-item::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #333;
}
